{% extends 'adminbase.html' %}
{% block content %}



<center>
<font size="+1" color="red">{{msg}}</font>
		  <h3> Upload Description Dataset</h3>

<form method="post" action="/upload1/">
	{% csrf_token %} 
	<table id="tab" width="60%">
	<tr>
		<td><input type="file" class="form-control" name="file" required accept=".xlsx"><tr><td>
		<br><input type="submit" value="Upload" class="form-control"></td>
	</tr>
	</table>
</form>
<h3 > Upload Precautions Dataset</h3>

<form method="post" action="/upload2/">
	{% csrf_token %} 
	<table id="tab" width="60%">
	<tr>
		<td><input type="file" class="form-control" name="file" required accept=".xlsx"><tr><td>
		<br><input type="submit" value="Upload" class="form-control"></td>
	</tr>
	</form>
	</table>

	


{% endblock %}